* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/*
    If Javascript is disabled or not supported,
    this element is not displayed.
    The use of the display property is as
    described below.
*/
main {
    /*
        The background image was taken from Pexels website.
        The link to the image where it was downloaded from is here below
        (https://www.pexels.com/photo/blue-harp-decor-on-brown-wooden-table-63633/)
    */
    background: no-repeat center/cover url('../images/pexels-pixabay-63633.jpg');
    min-height: 100vh;

    /*
        The value of display property is changed to block
        when Javascript is run.
    */
    display: none;
}

#quiz-area,
#quiz-finale {
    background: #FBBA37;
    border: .5rem #FFFFE0 double;
    border-radius: 1rem;
    padding: .5rem;
    min-width: 280px;
    min-height: 480px;
    height: 100%;
    width: 100%;
    max-width: 420px;
    max-height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#quiz-area h1,
#quiz-finale h1 {
    font-size: 1.5rem;
    text-align: center;
}

#quiz-area h2 {
    font-size: 1.2rem;
    text-align: center;
    margin: 2% 0;
}

#quiz-area p {
    font-size: 1.15rem;
    margin: 2% 0;
}

#quiz-buttons,
#quiz-finale-button {
    width: inherit;
    padding: inherit;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
}

#quiz-buttons button,
#button-close {
    width: 100%;
    background: orange;
    border: .2rem solid white;
    border-radius: .5rem;
    margin: .3rem 0;
    padding: .2rem;
    font-size: 1.4rem;
    height: 2.8rem;
}

/* 'quiz-finale' div */

#quiz-finale {
    display: none;
}

#quiz-finale-head {
    text-align: center;
    margin: 2% 0;
    font-size: 1.8rem;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
}

#quiz-finale-message {
    text-align: center;
    margin: 2% 0;
    font-size: 1.8rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
}

.hide-show-elements {
    display: none;
}

/* No Javascript support */

noscript div {
    width: 23rem;
    font-size: 1.1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

noscript h1,
noscript h2 {
    text-align: center;
}