* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

main {
    background: no-repeat center/cover url('../images/pexels-pixabay-63633.jpg');
    min-height: 100vh;
}

#quiz,
#instructions {
    width: 500px;
    height: 300px;
    background: lightgrey;
    border: 2px black solid;
    border-radius: 2%;
}

#quiz {
    display: none;
}

noscript div {
    width: 22em;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}